<link rel="stylesheet" href="<%= assetPath('css/signin.css') %>">

 

<form class="sign-in"action="/users/create-session" method="POST">
  <h1>Sign In</h1>
<input type="text" name="email" placeholder="Email" required>
<input type="password" name="password" placeholder="Password" required>
<input type="submit" value="Sign In">
<p>
  <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>
</form>

