* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e9ebee;
  line-height: 1.34;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: #385a97; }

ul {
  list-style: none; }

img {
  display: inline-block;
  border-radius: 50%; }

#home-container {
  display: flex;
  justify-content: center; }
  #home-container h4 {
    border-bottom: 1px solid #e6e4e4; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
    #home-container #feed-posts #post-box {
      margin: 20px;
      background: #f1f1f5; }
      #home-container #feed-posts #post-box form {
        border-top: 3px solid #e5e5e5;
        color: white; }
        #home-container #feed-posts #post-box form textarea {
          border: none;
          width: 100%;
          padding: 5px;
          resize: none;
          border-radius: 3px; }
        #home-container #feed-posts #post-box form input {
          background-color: #6262f7;
          border: none;
          color: white;
          padding: 8px 14px;
          display: center;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          cursor: pointer;
          border-radius: 3px; }
    #home-container #feed-posts #posts-list-container ul #each-posts li {
      margin: 20px;
      padding: 20px;
      background: white;
      border-top: 3px solid #e5e5e5; }
      #home-container #feed-posts #posts-list-container ul #each-posts li #profile-header {
        display: flex;
        border-bottom: 1px solid #e6e4e4; }
        #home-container #feed-posts #posts-list-container ul #each-posts li #profile-header img {
          margin-right: 20px; }
    #home-container #feed-posts #posts-list-container ul #each-posts .post-comments input[type="text"] {
      width: 80%;
      padding: 15px 12px;
      margin: 10px 5px;
      box-sizing: border-box;
      border: 1px solid #e5e5e5; }
    #home-container #feed-posts #posts-list-container ul #each-posts .post-comments input[type="submit"] {
      width: 12%;
      padding: 15px 10px;
      margin: 10px 5px;
      box-sizing: border-box;
      font-size: 12px; }
    #home-container #feed-posts #posts-list-container ul #each-posts .post-comments .post-comments-list li {
      margin: 5px;
      padding: 5px;
      background: white;
      border-top: 3px solid white; }
      #home-container #feed-posts #posts-list-container ul #each-posts .post-comments .post-comments-list li p {
        padding: 10px;
        background: #f1f1f5; }
  #home-container #aside-container {
    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 100%; }
    #home-container #aside-container #all-Friends {
      border-top: 3px solid #e5e5e5;
      margin: 30px;
      padding: 10px;
      background: #f1f1f5; }
      #home-container #aside-container #all-Friends p {
        display: flex;
        margin-bottom: 10px; }
        #home-container #aside-container #all-Friends p a {
          padding-left: 15px; }
    #home-container #aside-container #all-users {
      border-top: 3px solid #e5e5e5;
      margin: 30px;
      padding: 10px;
      background: #f1f1f5; }
      #home-container #aside-container #all-users p {
        display: flex;
        margin-bottom: 10px; }
        #home-container #aside-container #all-users p a {
          padding-left: 15px; }
