* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e9ebee;
  line-height: 1.34;
  font-family: sans-serif; }

#profile-box {
  position: relative;
  margin: 40px auto;
  width: 300px;
  padding: 33px 25px 29px;
  background: white;
  border-bottom: 1px solid #f5e6e6;
  border-radius: 5px; }
  #profile-box #profile-photo {
    text-align: center;
    display: block;
    object-fit: scale-down; }
    #profile-box #profile-photo img {
      border-radius: 50%; }
  #profile-box .profile-form input {
    height: 3%;
    width: 97%;
    margin: 5px; }
  #profile-box .profile-form input[type="file"] {
    height: 2%;
    margin: 5px;
    cursor: pointer; }
  #profile-box .profile-form input[type="submit"] {
    cursor: pointer; }
  #profile-box p {
    margin-top: 20px;
    text-align: center; }
  #profile-box a {
    margin-top: 20px;
    text-align: center;
    display: block; }
    #profile-box a button {
      width: 68%;
      height: 3%;
      cursor: pointer; }
